:root {
    --coral: #FFAC8A;
    --aquamarine: #73D6B8;
    --grey: #575757;
    --white: #FFFFFF;
}

* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

a,
.card-title,
.card-price,
.btn-buy,
.display-5,
.fs-5,
h2 {
    text-transform: uppercase;
}

.btn-outline {
    color: var(--coral);
    border-color: var(--coral);
    background-color: transparent;

    transition: .3s;
}

.btn-outline:hover {
    color: var(--white);
    background-color: var(--coral);
}

.card-title,
.display-5,
.title,
.payments {
    color:var(--grey);
}

.card-title {
    font: 700 13px 'Open Sans';
}

.card-price,
.price {
    color:var(--aquamarine);
}

.card-price,
.title {
    font: 700 18px 'Open Sans';
}

.display-5 {
    font: 700 40px 'Open Sans';
}

.price {
    font: 700 26px 'Open Sans';
}

.description,
.about-us-text {
    font: 400 14px 'Open Sans';
}

.btn-buy {
    color: var(--white);
    background-color: var(--coral);

    transition: .3s;
}

.btn-buy:hover {
    color: var(--white);
    opacity: 0.7;
}

footer {
    background-color: var(--grey);
    color: var(--white);
    font: 300 12px 'Open Sans';

    padding: 50px 50px;
}